input {
  border: none;
  outline: none;
}

.navbar {
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-font {
  font-size: 30px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #448899;
}

.header-buttons-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button p {
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  margin-left: 16px;
  cursor: pointer;
}

.banner {
  background-image: url("/static/img/banner101.png");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.banner-container {
  max-width: 1200px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.sub-title p {
  font-size: 28px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.slogan {
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #fff;
}

.search-container {
  display: flex;
  width: 100%;
  height: 46px;
  max-width: 460px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
}

.search {
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-button {
  width: 20%;
  background-color: #448899;
  border: none;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button i {
  font-size: 16px;
}

.search-button:hover {
  background-color: #448800;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.attraction-card {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px;
  border: #E8E8E8  ;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.attraction-image {
  width: 100%;
  height: 197px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attraction-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: bold;
  box-sizing: border-box;
}

.attraction-name p {
  margin: 0;
  padding: 10px;
}

.attraction-info {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: #757575;
}


.mrts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 20px 10px;
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid #666666;
}

.mrt-list-container {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  width: 92.5%;
  scroll-behavior: smooth;
}

.mrt-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mrt-list {
  display: flex;
}

.mrt-list p {
  margin: 0 15px;
  white-space: nowrap;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

footer {
  position: absolute;
  width: 100%;
  min-height: 104px;
  background-color: #757575;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

footer p {
  margin: 40px 0;
}


/* Media queries */
@media (max-width: 1200px) and (min-width: 601px) {
  .attraction-card {
    width: 30%;
  }
  .banner-container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .attraction-card {
    width: 322px;
    height: 280px;
  }

  .attraction-image {
    width: 100%;
    height: 100%;
  }

  .banner-container {
    max-width: 90%;
    margin: 0 auto;
  }
}


/* attraction.html */

.show-attraction-container {
  margin-top: 95px;
  max-width: 1200px;
}

.show-attraction-booking {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.show-attraction-image-carousel-container {
  position: relative;
  width: 540px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.show-attraction-image-carousel {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-attraction-carousel-slide {
  min-width: 100%;
}

.show-attraction-carousel-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.attraction-scroll-btn-left, .attraction-scroll-btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.attraction-scroll-btn-left {
  left: 10px;
}

.attraction-scroll-btn-right {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
  border: 1px solid #fff;
}

.show-attraction-reserve {
  width: 48.5%;
  height: 100%;
}

.show-attraction-info {
  max-width: 100%;
  margin-bottom: 20px;
}

.show-attraction-name {
  margin: 0;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #666666;
  margin-bottom: 15px;
}

.show-attraction-category-mrt {
  margin: 0;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
}

.show-attraction-reserve-area {
  max-width: 100%;
  background-color: #e8e8e8;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  font-weight: bold;
  margin-bottom: 0;
}

.show-attraction-reserve-area h1,
.show-attraction-reserve-area h2,
.show-attraction-description,
.show-attraction-address,
.show-attraction-transport {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  font-weight: bold;
}

.show-attraction-reserve-area h2,
.show-attraction-reserve-price,
.show-attraction-description,
.show-attraction-address,
.show-attraction-transport {
  font-weight: normal;
}

.show-attraction-reserve-form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#show-attraction-date-input {
  width: 193px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#show-attraction-date-input input[type='date'] {
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #000;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

#show-attraction-date-input input[type="date"]::-webkit-calendar-picker-indicator {
  background: url('../img/calendar_icon.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.show-attraction-reserve-button input {
  width: 154px;
  height: 36px;
  margin-top: 10px;
  color: #fff;
  background-color: #448899;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #ccc;
  font-weight: normal;
  margin-bottom: 20px;
}

.show-attraction-reserve-time {
  display: flex;
  align-items: center;
}

.show-attraction-reserve-time input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-right: 4px;
}

.show-attraction-reserve-time input[type='radio']:checked {
  width: 22px;
  height: 22px;
  background-color: #448899;
  content: '';
}

.show-attraction-reserve-radio {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.seperate-line {
  max-width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 40px;
  margin-bottom: 40px;
}

.show-attraction-detail {
  padding: 10px;
}

.show-attraction-address p,
.show-attraction-transport p {
  font-weight: bold;
  margin: 0;
}

@media (max-width: 760px) {
  .show-attraction-container {
    margin-top: 0;
  }

  .show-attraction-image-carousel-container {
    position: absolute;
    height: 350px;
    overflow: hidden;
    border-radius: 0;
  }

  .show-attraction-booking {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .show-attraction-reserve {
    width: 100%;
    margin-top: 370px;
    margin-bottom: 20px;
    height: auto;
  }

  .show-attraction-image-carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .show-attraction-image-carousel img {
    width: 100%;
    height: auto;
  }
}


/* sign-in */

.sign-in-container {
  display: none;
  position: absolute;
  top: 80px;
  width: 340px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%);
  border-radius: 6px;
  overflow: hidden;
  z-index: 1001;
}

.sign-in-container::before {
  content: '';
  display: block;
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #66AABB, #337788);
}

.sign-in-container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in {
  margin: 15px;
  width: 310px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-in > p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans TC;
  color: #666666;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sign-in-form {
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sign-in-form > form {
  min-width: 100%;
  margin: 0;
}

.sign-in-form div {
  margin-bottom: 10px;
  width: 100%;
  max-height: 47px;
}

.sign-in-form input {
  padding: 15px;
  width: 100%;
  height: 47px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #757575;
}

.sign-in-form input[type=button] {
  color: #FFFFFF;
  background-color: #448899;
  padding: 0;
  border: none;
}

.sign-in-form > a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans TC;
  color: #666666;
  font-size: 16px;
}

.close-btn {
  position: absolute;
  right: 2px;
  top: 2px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


/* booking */

.booking-username-container {
  margin-top: 104px;
  margin-left: 90px;
  margin-right: 90px;
}

#booking-section {
  display: none;
}

#booking-section > div{
  margin-left: 100px;
  margin-right: 100px;
}

#booking-section-default {
  display: none;
  margin-bottom: 40px;
}

#booking-section-default p {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

.booking-username-container,
.booking-contact-container > p:first-of-type,
.booking-credit-card-container > p:first-of-type {
  color: #666666;
  font-size: 19px;
  font-family: Noto Sans TC;
  font-weight: 700;
}

.booking-attraction-container {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  max-width: 100%;
  position: relative;
}

.booking-image-container {
  width: 250px;
  height: 200px;
}

.booking-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking-info-container{
  margin-left: 30px;
}

.booking-info-container p {
  margin-top: 10px;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

.booking-info-container p:first-of-type {
  margin-top: 0;
  margin-bottom: 20px;
  color: #448899;
  font-weight: 700;
}

#booking-delete-btn {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#booking-delete-btn img {
  width: 100%;
}

.booking-contact-container div,
.booking-credit-card-container div {
  margin-bottom: 15px;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

.booking-payment-container > div:first-of-type,
.booking-contact-container p:last-of-type {
  color: #666666;
  font-weight: 700;
  font-size: 16px;
  font-family: Noto Sans TC;
}

#booking-section input {
  max-width: 200px;
  max-height: 38px;
  border: 1px solid;
  border-color: #E8E8E8;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.booking-payment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.booking-payment-container > div:last-of-type {
  border-radius: 5px;
  max-width: 173px;
  max-height: 36px;
  padding: 10px 20px;
  background-color: #448899;
  margin: 22px 0;
  color: #FFFFFF;
  font-size: 19px;
  font-family: Noto Sans TC;
  font-weight: 400;
}

@media (max-width: 601px) {
  .booking-username-container {
    margin-top: 104px;
    margin-left: 0;
    margin-right: 0;
  }

  #booking-section > div,
  #booking-section-default p,
  .booking-info-container {
    margin-left: 0;
    margin-right: 0;
  }

  .booking-attraction-container {
    display: block;
  }

  .booking-image-container {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }

  .booking-image-container img {
    width: 100%;
    height: 100%;
  }

  #booking-delete-btn {
    position: static;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  .booking-image-container {
    height: 200px;
  }
}

.tpfield {
  height: 40px;
  width: 300px;
  border: 1px solid #E8E8E8;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.booking-credit-card-container > div {
  margin-bottom: 15px;
}

.booking-credit-card-container {
  margin-top: 20px;
}

.booking-credit-card-container p {
  font-weight: bold;
  margin-bottom: 10px;
}

#booking-payment-confirm {
  border-radius: 5px;
  max-width: 173px;
  max-height: 36px;
  padding: 10px 20px;
  background-color: #448899;
  margin: 22px 0;
  color: #FFFFFF;
  font-size: 19px;
  font-family: Noto Sans TC;
  font-weight: 400;
  cursor: pointer;
}

#booking-payment-confirm:hover {
  background-color: #337788;
}
