.navbar {
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.header-container {
  max-width: 1200px;
  height: 54px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo-font {
  font-size: 30px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #448899;
}

.header-buttons-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button p {
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  margin-left: 16px;
  cursor: pointer;
}

.banner {
  background-image: url("/static/img/banner101.png");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  margin-top: 54px;
}

.banner-container {
  max-width: 1200px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.sub-title p {
  font-size: 28px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.slogan {
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #fff;
}

.search-container {
  display: flex;
  width: 100%;
  height: 46px;
  max-width: 460px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
}

.search {
  flex: 1;
  height: 100%;
  width: 100%;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-button {
  width: 20%;
  background-color: #448899;
  border: none;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button i {
  font-size: 16px;
}

.search-button:hover {
  background-color: #448800;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.attraction-card {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px;
  border: #E8E8E8  ;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.attraction-image {
  width: 100%;
  height: 197px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attraction-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: bold;
  box-sizing: border-box;
}

.attraction-name p {
  margin: 0;
  padding: 10px;
}

.attraction-info {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: #757575;
}


.mrts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 20px 10px;
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid #666666;
}

.mrt-list-container {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  width: 92.5%;
  scroll-behavior: smooth;
}

.mrt-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mrt-list {
  display: flex;
}

.mrt-list p {
  margin: 0 15px;
  white-space: nowrap;
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans TC;
  font-size: 18px;
}


/* Media queries */
@media (max-width: 1200px) and (min-width: 601px) {
  .attraction-card {
    width: 30%;
  }
  .banner-container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .attraction-card {
    width: 322px;
    height: 280px;
  }

  .attraction-image {
    width: 100%;
    height: 100%;
  }

  .banner-container {
    max-width: 90%;
    margin: 0 auto;
  }
}


/* attraction.html */

.show-attraction-container {
  margin-top: 95px;
  max-width: 1200px;
}

.show-attraction-booking {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.show-attraction-image-carousel-container {
  position: relative;
  width: 48%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.show-attraction-image-carousel {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-attraction-image-carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.attraction-scroll-btn-left, .attraction-scroll-btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.attraction-scroll-btn-left {
  left: 10px;
}

.attraction-scroll-btn-right {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
  border: 1px solid #fff;
}

.show-attraction-reserve {
  width: 48.5%;
  height: 100%;
}

.show-attraction-info {
  max-width: 100%;
  margin-bottom: 20px;
}

.show-attraction-name {
  margin: 0;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #666666;
  margin-bottom: 15px;
}

.show-attraction-category-mrt {
  margin: 0;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
}

.show-attraction-reserve-area {
  max-width: 100%;
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  font-weight: bold;
  margin-bottom: 0;
}

.show-attraction-reserve-area h1,
.show-attraction-reserve-area h2,
.show-attraction-description,
.show-attraction-address,
.show-attraction-transport {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Noto Sans TC;
  color: #666666;
  font-weight: bold;
}

.show-attraction-reserve-area h2,
.show-attraction-reserve-price,
.show-attraction-description,
.show-attraction-address,
.show-attraction-transport {
  font-weight: normal;
}

.show-attraction-reserve-form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.show-attraction-reserve-button input {
  width: 154px;
  height: 36px;
  margin-top: 10px;
  color: #fff;
  background-color: #448899;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #ccc;
  font-weight: normal;
  margin-bottom: 20px;
}

.show-attraction-reserve-time {
  display: flex;
  align-items: center;
}

.show-attraction-reserve-time input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-right: 4px;
}

.show-attraction-reserve-time input[type='radio']:checked {
  width: 22px;
  height: 22px;
  background-color: #448899;
  content: '';
}

.show-attraction-reserve-radio {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.seperate-line {
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 40px;
  margin-bottom: 40px;
}

.show-attraction-detail {
  padding: 10px;
}

.show-attraction-address p,
.show-attraction-transport p {
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .show-attraction-container {
    margin-top: 0;
  }

  .show-attraction-image-carousel-container {
    position: absolute;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 0;
  }

  .show-attraction-booking {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .show-attraction-reserve {
    width: 100%;
    margin-top: 370px;
    margin-bottom: 20px;
    height: auto;
  }

  .show-attraction-image-carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .show-attraction-image-carousel img {
    width: 100%;
    height: auto;
  }
}
